node_modules/
.env
/wound-firebase-firebase-adminsdk-dgmii-ee346eaa6c.json
/wound-firebase-firebase-adminsdk-dgmii-9478856c69.json
/firebase-debug.log
/firestore-debug.log
/pubsub-debug.log
/ui-debug.log